* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}


html{
    scroll-behavior: smooth;
}

$colorPrincipal: #00b4d8;

$fuenteTitulo: 'Oswald', sans-serif;

$fuenteTexto: 'Gothic A1', sans-serif;