.banner1{
    background-image: url(https://www.hamblemotors.com/static/images/unity/default/templates/vehicles/new/peugeot/hybrid/main-image.jpg);
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 50px;
}
