* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.logo {
  height: 100px;
  width: 100px;
}

header {
  background-color: black;
}

.nav__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px;
  padding: 5px;
}

a {
  color: white;
  text-decoration: none;
}

.nav__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
  margin-right: 30px;
}

.nav__li {
  list-style: none;
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  color: black;
  text-decoration: none;
  color: white;
}

.nav__li:hover {
  border-bottom: 4px #00b4d8 solid;
}

.nav__a {
  text-decoration: none;
}

.nav__i {
  font-size: 25px;
  color: white;
  margin: 5px;
}

.nav__busqueda {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__buscador {
  height: 45px;
  width: 600px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  outline: none;
  border: 0;
  color: black;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.nav__submit {
  height: 45px;
  width: 50px;
  border-left: none;
  color: white;
  border: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav__submit:hover {
  cursor: pointer;
}

.nav__lupa {
  font-size: 30px;
  color: black;
}

.submenu {
  border-bottom: 2.5px solid white;
}

.submenu__li {
  color: white;
  list-style: none;
  font-family: "Oswald", sans-serif;
  height: 200px;
  width: 320px;
  font-family: "Oswald", sans-serif;
}

.submenu__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 250px;
  margin-right: 250px;
  height: 35px;
  padding: 5px;
}

.submenu__contenedor .nav__li:hover > .submenu__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 67%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 14px;
}

.submenu__contenedor .c:hover > .submenu__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: black;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -240px;
  padding: 10px;
}

.submenu__contenido {
  display: none;
  position: absolute;
}

.submenu__img {
  width: 200px;
}

.submenu__img-redes {
  width: 200px;
  margin-top: 30px;
}

#submenu__img-redes-1 {
  width: 130px;
}

#submenu__img-1 {
  margin-top: 20px;
}

#submenu__img-2 {
  width: 290px;
  margin-top: -30px;
}

.bars-responsivo {
  display: none;
}

.header-responsivo {
  display: none;
}

#menu-open {
  display: none;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400%;
  height: 60vh;
  max-height: 60vh;
  -webkit-animation: cambio 20s infinite alternate;
          animation: cambio 20s infinite alternate;
}

#i1 {
  background-image: url(http://d2ovaz7fxvur3h.cloudfront.net/bix/landing/darc/005/img/banner.jpg);
  background-size: 97%;
  background-position-y: -50px;
}

#i2 {
  background-image: url(https://www.gruporobayna.com.ar/peugeot/img/index/ordenador/202011---MR-BANNER208.jpg);
  background-size: 100%;
}

#i3 {
  background-image: url(https://www.autofrance.com.ar/img/index/ordenador/BANNER-208-GT.png);
  background-size: 100%;
  background-position-y: -50px;
}

#i4 {
  background-image: url(https://media.peugeotcolombia.com.co/image/26/2/banner-peugeot-cumple.575262.32.png?autocrop=1);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 0px;
}

.slider__li {
  width: 100%;
  list-style: none;
}

.slider__img {
  width: 100%;
}

.menu-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.939);
}

.menu-sticky .menu-sticky-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin: 10px;
}

.menu-sticky .menu-sticky-contenedor .menu-sticky__titulo {
  border-bottom: 2px solid #00b4d8;
}

.menu-sticky .menu-sticky-contenedor .menu-sticky__a {
  color: black;
  font-family: "Gothic A1", sans-serif;
}

.menu-sticky .menu-sticky-contenedor .menu-sticky__a :hover {
  border-bottom: 2px solid #00b4d8;
}

.modelos-contenedor .modelos-titulos {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  margin: 20px;
}

.modelos-contenedor .modelos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.modelos-contenedor .modelos .models-contenedor {
  width: 470px;
}

.modelos-contenedor .modelos .models-contenedor .modelos__v {
  color: #00b4d8;
}

.modelos-contenedor .modelos .modelos__img {
  height: 450px;
  width: 470px;
}

.modelos-contenedor .modelos .modelos__h3-titulos {
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-size: 25px;
  margin-left: 5px;
}

.modelos-contenedor .modelos .modelos__p {
  text-align: left;
  font-size: 18px;
  font-family: "Gothic A1", sans-serif;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.modelos-contenedor .modelos .modelos__v {
  margin-top: 20px;
}

.modelos-contenedor .modelos .modelos__ver {
  color: #00b4d8;
}

.modelos-contenedor .modelos__b {
  background-color: #00b4d8;
  height: 40px;
  width: 300px;
  border: 0;
  color: white;
  font-weight: 900;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -10px;
}

.redes {
  color: #00b4d8;
  font-size: 100px;
}

.contactanos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-left: 30vw;
}

.redes-contenedor {
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 900px) {
  .nav__busqueda {
    display: none;
  }
  .nav__contenido {
    display: none;
  }
  .submenu {
    display: none;
  }
  .header-responsivo {
    background-color: black;
    height: 60vh;
    top: -60vh;
    position: absolute;
    display: block;
  }
  .nav__li {
    padding: 15px;
    border: 0;
  }
  #menu-open {
    display: block;
  }
  .nav__li:hover {
    border: 0;
  }
  .logo {
    height: 50px;
    width: 50px;
  }
  .bars-responsivo {
    font-size: 25px;
    padding: 10px;
    margin-top: 5px;
  }
  .cierre {
    margin-right: 300px;
  }
  #menu {
    -webkit-transition: 1s;
    transition: 1s;
  }
  #menu:target {
    top: 65px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slider__ul {
    height: 20.5vh;
  }
  #i4 {
    background-size: 150%;
  }
  #i3 {
    background-position-y: 0px;
    background-size: 150%;
  }
  #i2 {
    background-size: 148%;
    background-position-x: -15px;
  }
  #i1 {
    background-position-y: -10px;
    background-size: 150%;
    background-position-x: -100px;
  }
  .modelos-titulos {
    font-size: 25px;
    margin-left: -0px;
    margin-top: -20px;
  }
  .models-contenedor {
    height: 340px;
    width: 300px;
  }
  .modelos__h3-titulos {
    margin-top: -10px;
    margin-bottom: -20px;
  }
  .modelos {
    margin-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
  }
  .modelos__img {
    width: 300px;
    height: 250px;
  }
  .modelos__p {
    display: none;
  }
  .modelos__v {
    margin-top: -10px;
  }
  .modelos__b {
    margin-left: -2px;
  }
  .redes {
    color: #00b4d8;
    font-size: 40px;
  }
  .contactanos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-left: 70px;
  }
  .redes-contenedor {
    height: 100px;
    width: 80px;
  }
  .banner1 {
    margin-bottom: -300px;
  }
  .financiacion__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .financiacion__img {
    max-height: 300px;
    max-width: 270px;
  }
  .financiacion-p {
    display: none;
  }
  .financiacion__b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 150px;
  }
}

.banner1 {
  background-image: url(https://www.hamblemotors.com/static/images/unity/default/templates/vehicles/new/peugeot/hybrid/main-image.jpg);
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom: 50px;
}

.banner2 {
  background-image: url(https://i1.wp.com/grupotalauto.com/wp-content/uploads/2019/04/banner-peugeot-3008-01.jpg?ssl=1);
  height: 400px;
  background-size: 100%;
  background-position-y: -60px;
}

.financiacion .financiacion__t {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.financiacion .financiacion__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.financiacion .financiacion__conteiner .financiacion__contenido {
  width: 470px;
}

.financiacion .financiacion__conteiner .financiacion__contenido .financiacion__img {
  height: 600px;
  width: 470px;
}

.financiacion .financiacion__conteiner .financiacion__contenido .financiacion-titulo {
  font-family: "Oswald", sans-serif;
  text-align: left;
  font-size: 25px;
  margin-left: 5px;
}

.financiacion .financiacion__conteiner .financiacion__contenido .financiacion-p {
  text-align: left;
  font-size: 18px;
  font-family: "Gothic A1", sans-serif;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.financiacion .financiacion__conteiner .financiacion__contenido .financiacion__b {
  background-color: #00b4d8;
  height: 40px;
  width: 200px;
  border: 0;
  color: white;
  font-weight: 900;
  cursor: pointer;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 5px;
  text-align: center;
  padding-left: 40px;
  padding-top: 10px;
}
/*# sourceMappingURL=main.css.map */